body {
  width: 500px;
}

header {
  display: flex;
  flex-direction: row;
  padding: 1em;
  background: #ffebf5;
  margin-bottom: 5px;
}

.wrapper {
  display: grid;
  grid-template-columns: 3fr 6fr;
  height: 200px;
  grid-gap: 0.3em;
}

.wrapper2 {
  display: grid;
  height: 100px;
  grid-gap: 0.3em;
}

.wrapper > div {
  padding: 1em;
}

.wrapper2 > div {
  padding: 1em;
}

.box1 {
  grid-column: 1/2;
  grid-row: 1/2;
  background: #bbebf5;
}

.box2 {
  grid-column: 1/2;
  grid-row: 2/4;
  background: #D7DEF5;
}

.box3 {

  grid-column: 2/3; 
  grid-row: 1/3;
  background: #BCD9E8;
}

.box4 {
  grid-column: 2/3;
  grid-row: 3/4;
  background: #EFDDFF;
}

.pirmas {
  grid-column: 1/3;
  grid-row: 1/6;
  margin-top: 0.3em;
  background: #eeebf5;
}

.antras {
  grid-column: 3/4;
  grid-row: 1/6;
  margin-top: 0.3em;
  background: #ddebf5;
}

footer {
  flex-direction: row;
  padding: 1em;
  background: #ccebf5;
  margin-top: 5px;
}
